<div class="toolbar" role="banner">
  <span>Angular Todo App</span>
</div>

<div class="navbar">
  <ul>
    <li><a routerLink="/">All</a></li>
    <li><a routerLink="/complete">Complete</a></li>
    <li><a routerLink="/incomplete">Incomplete</a></li>
  </ul>
</div>

<div class="content" role="main">
  <div class="card-container">
    <form (ngSubmit)="onSubmit()">
      <input type="text" [(ngModel)]="newTodo.text" name="todo-text" placeholder="Enter A Todo">
    </form>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>